.twoColumnGrid {
  display: grid;
  grid-template-columns: 300px auto;
  min-height: 100vh;
}

aside {
  background-color: rgb(228, 238, 238);
}

.twoColumnGrid > div:last-child {
  background-color: rgb(224, 214, 216);
}