.IconWrap {
  width: 48px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  span {
    width: 48px;
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 4px;
  }
  img {
    transition: filter 0.3s;
  }
}

//ダークモード
:global(body.dark-mode) .IconWrap img {
  filter: grayscale(1) brightness(3);
}
:global(body.dark-mode) li:hover .IconWrap img {
  filter: none;
}