//Reset
:where(:not(html,iframe,canvas,img,svg,video,audio):not(svg *,symbol *)){all:unset;display:revert}*,::before,::after{box-sizing:border-box}html{-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none}a,button{cursor:revert}ol,ul,menu,summary{list-style:none}ol{counter-reset:revert}img{max-inline-size:100%;max-block-size:100%}table{border-collapse:collapse}input,textarea{-webkit-user-select:auto}textarea{white-space:revert}meter{-webkit-appearance:revert;appearance:revert}:where(pre){all:revert;box-sizing:border-box}::placeholder{color:unset}:where([hidden]){display:none}:where([contenteditable]:not([contenteditable="false"])){-moz-user-modify:read-write;-webkit-user-modify:read-write;overflow-wrap:break-word;-webkit-line-break:after-white-space;-webkit-user-select:auto}:where([draggable="true"]){-webkit-user-drag:element}:where(dialog:modal){all:revert;box-sizing:border-box}::-webkit-details-marker{display:none}

//font
.material-symbols-outlined {
  font-variation-settings: FILL 0,wght 400,GRAD 0,opsz 16;
}

//色
:root {
  //全体の背景色
  --c-bg-common: #f2f2f2;
  //メインテキスト
  --c-text-common: #444;

  /* サイドバー */
  //メインbg
  --c-sidebar-main-bg: #fff;
  //メインテキスト
  --c-sidebar-text: #088197;
  //border
  --c-sidebar-border: #CBEBF4;
  //「→」との仕切り線
  --c-sidebar-separate: #b8d5dd;
  //box-shadow
  --c-sidebar-box-shadow: #e3e8e8;

  //SidebarTitle
  --c-sidebar-title-bg: #01B1C4;
   //SidebarTitle - hover
  --c-sidebar-title-bg--hover: #00cce2;

  //SidebarSns - hover
  --c-sidebar-sns-hover: #e8f6fb;
}

//
.dark-mode {
  //全体の背景色
  --c-bg-common: #495456;
  //メインテキスト
  --c-text-common: #dcdcdc;

  /* サイドバー */
  //メインbg
  --c-sidebar-main-bg: #384143;
  //メインテキスト
  --c-sidebar-text: #dde7e9;
  //border
  --c-sidebar-border: #4f5c5f;
  //「→」との仕切り線
  --c-sidebar-separate: #4f5c5f;
  //box-shadow
  --c-sidebar-box-shadow: #424242;

  //SidebarTitle
  --c-sidebar-title-bg: #006c78;
  //SidebarTitle - hover
  --c-sidebar-title-bg--hover: #1d9ba9;

  //SidebarSns - hover
  --c-sidebar-sns-hover: #e0a80e;
}

body {
  background-color: var(--c-bg-common);
}