---
import {
    HeadContent,
    TwoColumnLayout
} from '../components';
import '../styles/global.scss';
---

<html lang="ja">
	<head>
		<meta name="generator" content={Astro.generator} />
		<HeadContent title="About" description="Aboutページです" />
	</head>
	<body>
		<TwoColumnLayout client:visible>
            マッ
        </TwoColumnLayout>
	</body>
</html>