---
import {
  MyFirstReact,
  MySecondReact,
  MyThirdReact,
	MyFourthReact,
	HeadContent,
} from '../components';
---

<html lang="ja">
	<head>
		<meta name="generator" content={Astro.generator} />
		<HeadContent title="タイトル" description="ディスクリプション" />
	</head>
	<style>
		.material-symbols-outlined{font-variation-settings:FILL 0,wght 400,GRAD 0,opsz 16;}
	</style>
	<body>
		<main>
			<!-- <MyFirstReact client:load /> -->
			<!-- <MySecondReact>第一章</MySecondReact> -->
			<!-- <MySecondReact>第二章</MySecondReact> -->
			<MyThirdReact buttonLabel="クリック" messageText="どうも" client:load />
			<MyThirdReact buttonLabel="押す" messageText="こんちわ" client:load />
			<MyFourthReact />
			<p><span class="material-symbols-outlined">keyboard_arrow_down</span></p>
		</main>
	</body>
</html>