---
import MyFirstReact from '../components/MyFirstReact';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<main>
			<MyFirstReact client:load />
		</main>
	</body>
</html>
