---
import {
  MyFirstReact,
  MySecondReact,
  MyThirdReact,
	MyFourthReact,
	HeadContent,
	SwitchLightDark
} from '../components';
import '../styles/global.scss';
---

<html lang="ja">
	<head>
		<meta name="generator" content={Astro.generator} />
		<HeadContent title="タイトル" description="ディスクリプション" />
	</head>
	<body>
		<main>
			<!-- <MyFirstReact client:load /> -->
			<!-- <MySecondReact>第一章</MySecondReact> -->
			<!-- <MySecondReact>第二章</MySecondReact> -->
			<!-- <MyThirdReact buttonLabel="クリック" messageText="どうも" client:load />
			<MyThirdReact buttonLabel="押す" messageText="こんちわ" client:load />
			<MyFourthReact />
			<p><span class="material-symbols-outlined">favorite</span></p> -->
			<SwitchLightDark client:visible />
		</main>
	</body>
</html>