.SidebarGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 50px auto 40px;
  gap: 12px;
}

.SnsAndSwitch {
  display: grid;
  grid-template-columns: auto 90px;
  gap: 12px;
  div:nth-child(2) {
    background-color: #FFBE0C;
  }
}



div:nth-child(3) {
  background-color: rgb(234, 255, 255);
}

div:nth-child(4) {
  background-color: rgb(28, 95, 95);
}
